{% extends 'layouts/default.html' %}
{% load static %}
{% block PAGE_TITLE %} Ehub &mdash; Login | Register {% endblock %}
{% block PAGE_CONTENT %}

<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Log In & Register</h2>
				
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Log In & Register</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Contact
================================================== -->

<!-- Container -->
<div class="container">

	<div class="row">
	<div class="col-md-4 col-md-offset-4">

	<button class="button social-login via-twitter"><i class="fa fa-twitter"></i> Log In With Twitter</button>
	<button class="button social-login via-gplus"><i class="fa fa-google-plus"></i> Log In With Google Plus</button>
	<button class="button social-login via-facebook"><i class="fa fa-facebook"></i> Log In With Facebook</button>
	<div id="forms-area"></div>
	<!--Tab -->
	<div class="my-account style-1 margin-top-5 margin-bottom-40">

		<ul class="tabs-nav">
			<li id="loginToggle" class=""><a href="#tabLogin" >Log In</a></li>
			<li id="registerToggle"><a href="#tabRegister">Register</a></li>
		</ul>

		<div class="tabs-container alt">

			<!-- Login -->
			<div class="tab-content" id="tabLogin" style="display: none;">
				<form method="post" class="login">
					{% csrf_token %}
					<p class="form-row form-row-wide">
						<label for="username">Username:
							<i class="im im-icon-At-Sign"></i>
							{{ LoginForm.email_address }}
						</label>
					</p>
					
					<p class="form-row form-row-wide">
						<label for="password">Password:
							<i class="im im-icon-Lock-2"></i>
							{{ LoginForm.password }}
						</label>
					</p>

					<p class="form-row">
						<input type="submit" class="button border margin-top-10" name="login" value="Login" />

						<label for="rememberme" class="rememberme">
						<input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me</label>
					</p>

					<p class="lost_password">
						<a href="#" >Lost Your Password?</a>
					</p>
					
				</form>
			</div>

			<!-- Register -->
			<div class="tab-content" id="tabRegister" style="display: none;">

				<form method="post" class="register">
				{% csrf_token %}
				<p class="form-row form-row-wide">
					<label for="username2">Name:
						<i class="im im-icon-Male"></i>
						{{ RegisterForm.name }}
					</label>
				</p>
					
				<p class="form-row form-row-wide">
					<label for="email2">Email Address:
						<i class="im im-icon-Mail"></i>
						{{ RegisterForm.email_address }}
					</label>
				</p>

				<p class="form-row form-row-wide">
					<label for="password1">Password:
						<i class="im im-icon-Lock-2"></i>
						{{ RegisterForm.password }}
					</label>
				</p>

				<p class="form-row form-row-wide">
					<label for="password2">Repeat Password:
						<i class="im im-icon-Lock-2"></i>
						{{ RegisterForm.confirm_password }}
					</label>
				</p>

				<p class="form-row">
					<input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
				</p>

				</form>
			</div>

		</div>
	</div>



	</div>
	</div>

</div>
<!-- Container / End -->
{% endblock %}



{% block PAGE_JS %} 
	<script type="text/javascript">
		$(document).ready(function(){
			var focus = {{ ShiftFocus }};
			switch(focus){
				case 1:{
					$("html, body").animate({
						scrollTop: $("#forms-area").offset().top
					}, 1000);
					break;
				}

				default:{
					$("html, body").scrollTop = 0;
				}
			}
			var $activate = $("#{{ ActiveTab }}");
			var $deactivate = $("#{{ InActiveTab }}");
			var $activateLi = $("#{{ ActiveLink }}");
			var $deactivateLi = $("#{{ InActiveLink }}");

			$deactivateLi.removeClass('active');
			$activateLi.addClass('active');
			$activate.css("display", "");
			$deactivate.css("display", "none");
			
		});
	</script>
{% endblock %}