{% extends 'layouts/default.html' %}
{% load static %}
{% block PAGE_TITLE %} Ehub &mdash; Entertainment Re-Defined {% endblock %}
{% block PAGE_CSS %}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin=""></script>
   <script src="{% static 'scripts/Leaflet.Sleep.js' %}"></script>
{% endblock PAGE_CSS %}
{% block PAGE_CONTENT %}
<!-- Map ================================================== -->
    <div id="map-container" class="homepage-map margin-bottom-0">

        <div id="map">
            <!-- map goes here -->
        </div>

        <!-- Map Navigation -->
        <a href="#" id="scrollEnabling" title="Enable or disable scrolling on map">Enable Scrolling</a>
        <ul id="mapnav-buttons">
            <li><a href="#" id="prevpoint" title="Previous point on map">Prev</a></li>
            <li><a href="#" id="nextpoint" title="Next point on mp">Next</a></li>
        </ul>


        <!-- Main Search Container -->
        <div class="main-search-container">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Trigger Button -->
                        <a href="#" class="adv-search-btn button">Advanced Search <i class="fa fa-caret-up"></i></a>

                        <!-- Main Search -->
                        <form class="main-search-form">

                            <!-- Type -->
                            <div class="search-type" style="display: none;">
                                <label class="active"><input class="first-tab" name="tab" checked="checked" type="radio">Any Status</label>
                                <label><input name="tab" type="radio">For Sale</label>
                                <label><input name="tab" type="radio">For Rent</label>
                                <div class="search-type-arrow"></div>
                            </div>


                            <!-- Box -->
                            <div class="main-search-box">

                            <!-- Row With Forms -->
                                <div class="row with-forms">

                                    <!-- Status -->
                                    <div class="col-md-3 col-sm-6">
                                        <select data-placeholder="Any Status" class="chosen-select-no-single" >
                                            <option>Any Status</option>
                                            <option>For Sale</option>
                                            <option>For Rent</option>
                                        </select>
                                    </div>

                                    <!-- Property Type -->
                                    <div class="col-md-3 col-sm-6">
                                        <select data-placeholder="Any Type" class="chosen-select-no-single" >
                                            <option>Any Type</option>
                                            <option>Apartments</option>
                                            <option>Houses</option>
                                            <option>Commercial</option>
                                            <option>Garages</option>
                                            <option>Lots</option>
                                        </select>
                                    </div>

                                    <!-- Main Search Input -->
                                    <div class="col-md-6">
                                        <div class="main-search-input">
                                            <input type="text" placeholder="Enter address e.g. street, city or state" value=""/>
                                            <button class="button">Search</button>
                                        </div>
                                    </div>

                                </div>
                                <!-- Row With Forms / End -->


                                <!-- Row With Forms -->
                                <div class="row with-forms">

                                    <!-- Min Price -->
                                    <div class="col-md-3 col-sm-6">

                                        <!-- Select Input -->
                                        <div class="select-input disabled-first-option">
                                            <input type="text" placeholder="Min Area" data-unit="Sq Ft">
                                            <select>
                                                <option>Min Area</option>
                                                <option>300</option>
                                                <option>400</option>
                                                <option>500</option>
                                                <option>700</option>
                                                <option>800</option>
                                                <option>1000</option>
                                                <option>1500</option>
                                            </select>
                                        </div>
                                        <!-- Select Input / End -->

                                    </div>

                                    <!-- Max Price -->
                                    <div class="col-md-3 col-sm-6">

                                        <!-- Select Input -->
                                        <div class="select-input disabled-first-option">
                                            <input type="text" placeholder="Max Area" data-unit="Sq Ft">
                                            <select>
                                                <option>Max Area</option>
                                                <option>300</option>
                                                <option>400</option>
                                                <option>500</option>
                                                <option>700</option>
                                                <option>800</option>
                                                <option>1000</option>
                                                <option>1500</option>
                                            </select>
                                        </div>
                                        <!-- Select Input / End -->

                                    </div>


                                    <!-- Min Price -->
                                    <div class="col-md-3 col-sm-6">

                                        <!-- Select Input -->
                                        <div class="select-input disabled-first-option">
                                            <input type="text" placeholder="Min Price" data-unit="USD">
                                            <select>
                                                <option>Min Price</option>
                                                <option>1 000</option>
                                                <option>2 000</option>
                                                <option>3 000</option>
                                                <option>4 000</option>
                                                <option>5 000</option>
                                                <option>10 000</option>
                                                <option>15 000</option>
                                                <option>20 000</option>
                                                <option>30 000</option>
                                                <option>40 000</option>
                                                <option>50 000</option>
                                                <option>60 000</option>
                                                <option>70 000</option>
                                                <option>80 000</option>
                                                <option>90 000</option>
                                                <option>100 000</option>
                                                <option>110 000</option>
                                                <option>120 000</option>
                                                <option>130 000</option>
                                                <option>140 000</option>
                                                <option>150 000</option>
                                            </select>
                                        </div>
                                        <!-- Select Input / End -->

                                    </div>


                                    <!-- Max Price -->
                                    <div class="col-md-3 col-sm-6">

                                        <!-- Select Input -->
                                        <div class="select-input disabled-first-option">
                                            <input type="text" placeholder="Max Price" data-unit="USD">
                                            <select>
                                                <option>Max Price</option>
                                                <option>1 000</option>
                                                <option>2 000</option>
                                                <option>3 000</option>
                                                <option>4 000</option>
                                                <option>5 000</option>
                                                <option>10 000</option>
                                                <option>15 000</option>
                                                <option>20 000</option>
                                                <option>30 000</option>
                                                <option>40 000</option>
                                                <option>50 000</option>
                                                <option>60 000</option>
                                                <option>70 000</option>
                                                <option>80 000</option>
                                                <option>90 000</option>
                                                <option>100 000</option>
                                                <option>110 000</option>
                                                <option>120 000</option>
                                                <option>130 000</option>
                                                <option>140 000</option>
                                                <option>150 000</option>
                                            </select>
                                        </div>
                                        <!-- Select Input / End -->

                                    </div>

                                </div>
                                <!-- Row With Forms / End -->

                            </div>
                            <!-- Box / End -->

                        </form>
                        <!-- Main Search -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Main Search Container / End -->

    </div>


    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline margin-bottom-25 margin-top-60">Upcoming Events</h3>
            </div>

            <!-- Carousel -->
            <div class="col-md-12">
                <div class="carousel">
                    {% if events %}
                       {% for event in events %}
                       <div class="carousel-item">
                            <div class="listing-item">

                                <a href="{% url 'events:view-event' event.id event.name|slugify %}" class="listing-img-container">

                                    <div class="listing-badges">
                                        <!-- <span class="featured">Featured</span> -->
                                        <span>{{ event.type }}</span>
                                    </div>

                                    <div class="listing-img-content">
                                        <span class="listing-price">{{ event.start_date|date:'d M' }} <i>{{ event.start_date|date:'H:i' }}</i></span>
                                        <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                                        <!-- <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> -->
                                    </div>

                                    {% if event.poster_count > 1 %}
                                        <div class="listing-carousel">
                                            {% for poster in event.get_other_posters %}
                                                <div><img src="{{ poster.image.url }}"></div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <img src="{{ event.get_poster_url }}" alt="">
                                    {% endif %}

                                </a>

                                <div class="listing-content">

                                    <div class="listing-title">
                                        <h4><a href="{% url 'events:view-event' event.id event.name|slugify %}">{{ event.name|title }}</a></h4>
                                        <a href="#" class="listing-address popup-gmaps">
                                            <i class="fa fa-map-marker"></i>
                                            <b>{{ event.location.name }}</b>, {{ event.location.city.name }}
                                        </a>
                                    </div>

                                    <ul class="listing-features">
                                        <li>{{ event.about|title|truncatechars:30 }}</li>
                                    </ul>

                                    <div class="listing-footer">
                                        <a href="#"><i class="fa fa-user"></i> {{ event.added_by|title }}</a>
                                        <span><i class="fa fa-calendar-o"></i> {{ event.created_at|timesince }}</span>
                                    </div>

                                </div>

                            </div>
                        </div>
                       {% endfor %}
                    {% else %}

                    {% endif %}

                </div>
            </div>
            <!-- Carousel / End -->

        </div>
    </div>


    <!--  -->
    <section class="fullwidth margin-top-55 padding-top-65 padding-bottom-55" data-background-color="#f9f9f9">
    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <h3 class="headline margin-bottom-25 margin-top-0">Coming this Week</h3>
            </div>

            <!-- Carousel -->
            <div class="col-md-12">
                <div class="carousel">
                    {% if this_week %}
                        {% for event in this_week %}
                        <div class="carousel-item">
                             <div class="listing-item">

                                 <a href="{% url 'events:view-event' event.id event.name|slugify %}" class="listing-img-container">

                                     <div class="listing-badges">
                                         <!-- <span class="featured">Featured</span> -->
                                         <span>{{ event.type }}</span>
                                     </div>

                                     <div class="listing-img-content">
                                         <span class="listing-price">{{ event.start_date|date:'d M' }} <i>{{ event.start_date|date:'H:i' }}</i></span>
                                         <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                                         <!-- <span class="compare-button with-tip" data-tip-content="Add to Compare"></span> -->
                                     </div>

                                     {% if event.poster_count > 1 %}
                                         <div class="listing-carousel">
                                             {% for poster in event.get_other_posters %}
                                                 <div><img src="{{ poster.image.url }}"></div>
                                             {% endfor %}
                                         </div>
                                     {% else %}
                                         <img src="{{ event.get_poster_url }}" alt="">
                                     {% endif %}

                                 </a>

                                 <div class="listing-content">

                                     <div class="listing-title">
                                         <h4><a href="{% url 'events:view-event' event.id event.name|slugify %}">{{ event.name|title }}</a></h4>
                                         <a href="#" class="listing-address popup-gmaps">
                                             <i class="fa fa-map-marker"></i>
                                             <b>{{ event.location.name }}</b>, {{ event.location.city.name }}
                                         </a>
                                     </div>

                                     <ul class="listing-features">
                                         <li>{{ event.about|title|truncatechars:30 }}</li>
                                     </ul>

                                     <div class="listing-footer">
                                         <a href="#"><i class="fa fa-user"></i> {{ event.added_by|title }}</a>
                                         <span><i class="fa fa-calendar-o"></i> {{ event.created_at|timesince }}</span>
                                     </div>

                                 </div>

                             </div>
                         </div>
                        {% endfor %}
                     {% else %}

                     {% endif %}
                </div>
            </div>
            <!-- Carousel / End -->

        </div>
    </div>
    </section>







    <!--  -->
    <section class="fullwidth margin-top-55 padding-top-65 padding-bottom-55" data-background-color="#f9f9f9">
            <div class="container">

                <div class="row">

                    <div class="col-md-12">
                        <h3 class="headline margin-bottom-25 margin-top-0">Artists</h3>
                    </div>

                    <!-- Carousel -->
                    <div class="col-md-12">
                        <div class="carousel">

                            {% if artists %}
                                {% for artist in artists %}
                                <div class="carousel-item">

                                                <div class="agent">

                                                    <div class="agent-avatar">
                                                        <a href="{% url 'artists:view' artist.id artist.stage_name|slugify %}">
                                                            <img src="{{ artist.user_profile.avatar.url }}" alt="">
                                                            <span class="view-profile-btn">View Profile</span>
                                                        </a>
                                                    </div>

                                                    <div class="agent-content">
                                                        <div class="agent-name">
                                                            <h4><a href="{% url 'artists:view' artist.id artist.stage_name|slugify %}">{{ artist.stage_name|title }}</a></h4>
                                                            <span><a href="#">{{artist.genre }}</a> artist</span>
                                                        </div>

                                                        <ul class="social-icons">
                                                            {% if artist.user_profile.facebook %}
                                                                <li><a target="_blank" class="facebook" href="{{artist.user_profile.social.facebook }}"><i class="icon-facebook"></i></a></li>
                                                            {% endif %}

                                                            {% if artist.user_profile.twitter %}
                                                                <li><a target="_blank" class="twitter" href="{{artist.user_profile.social.twitter }}"><i class="icon-twitter"></i></a></li>
                                                            {% endif %}

                                                            {% if artist.user_profile.google %}
                                                                <li><a target="_blank" class="gplus" href="{{artist.user_profile.social.google }}"><i class="icon-gplus"></i></a></li>
                                                            {% endif %}

                                                            {% if artist.user_profile.instagram %}
                                                                <li><a target="_blank" class="instagram" href="{{artist.user_profile.social.instagram }}"><i class="icon-instagram"></i></a></li>
                                                            {% endif %}

                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </div>

                                 </div>
                                {% endfor %}
                             {% else %}

                             {% endif %}

                        </div>
                    </div>
                    <!-- Carousel / End -->

                </div>
            </div>
            </section>

        
    
    <!--  -->
    <!-- <section class="fullwidth margin-top-55 padding-top-65 padding-bottom-55" data-background-color="#f9f9f9"> -->
            <div class="container">

                <div class="row">

                    <div class="col-md-12">
                        <h3 class="headline margin-bottom-25 margin-top-0">Venues</h3>
                    </div>

                    <!-- Carousel -->
                    <div class="col-md-12">
                        <div class="carousel">

                            {% if venues %}
                                {% for venue in venues %}
                                <div class="carousel-item">

                                                <div class="agent">

                                                    <div class="agent-avatar">
                                                        <a href="{% url 'venues:view-venue' venue.id venue.name|slugify %}">
                                                            <img src="{{ venue.get_img_url }}" alt="">
                                                            <span class="view-profile-btn">View Venue</span>
                                                        </a>
                                                    </div>

                                                    <div class="agent-content">
                                                        <div class="agent-name">
                                                            <h4><a href="">{{ venue.name|title }}</a></h4><br>
                                                            <p>{{ venue.street_address }} - {{ venue.city.name }}</p>
                                                          
                                                            {% for p in venue.get_purposes %}
                                                                <mark class="color">{{ p }}</mark> &nbsp;
                                                            {% endfor %}
                                                            
                                                        </div>

                                                    
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </div>

                                 </div>
                                {% endfor %}
                             {% else %}

                             {% endif %}

                        </div>
                    </div>
                    <!-- Carousel / End -->

                </div>
            </div>
            </section>


    <!-- Container -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline centered margin-bottom-35 margin-top-10">Get Exposure for Your Events</h3>
            </div>

            <div class="col-md-12">
                <div class="pricing-container margin-top-40">

                <!-- Plan #1 -->

                    <div class="plan">

                        <div class="plan-price">
                            <h3>Basic</h3>
                            <span class="value">Free</span>
                            <span class="period">Free of charge one standard listing active for 30 days</span>
                        </div>

                        <div class="plan-features">
                            <ul>
                                <li>One Listing</li>
                                <li>30 Days Availability</li>
                                <li>Standard Listing</li>
                                <li>Limited Support</li>
                            </ul>
                            <a class="button border" href="{% url 'events:post-event' %}">Get Started</a>
                        </div>

                    </div>

                    <!-- Plan #3 -->
                    <div class="plan featured">

                        <div class="listing-badges">
                            <span class="featured">Featured</span>
                        </div>

                        <div class="plan-price">
                            <h3>Extended</h3>
                            <span class="value"><strike>$9.99</strike> Free</span>
                            <span class="period">One time fee for <strike>one</strike> unlimited listing, highlighted in the search results</span>
                        </div>
                        <div class="plan-features">
                            <ul>
                                <li>One Time Fee</li>
                                <li><strike>one</strike>Unlimited <strike>Listing</strike>Listings</li>
                                <li>90 Days Availability</li>
                                <li>Featured In Search Results</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a class="button" href="{% url 'events:post-event' %}">Get Started</a>
                        </div>
                    </div>

                    <!-- Plan #3 -->
                    <div class="plan">

                        <div class="plan-price">
                            <h3>Professional</h3>
                            <span class="value">$19.99</span>
                            <span class="period">Monthly subscription for unlimited listings and availability</span>
                        </div>

                        <div class="plan-features">
                            <ul>
                                <li>Unlimited Listings</li>
                                <li>Unlimited Availability</li>
                                <li>Featured In Search Results</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a class="button border" href="{% url 'events:post-event' %}">Get Started</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Container / End -->



    <section class="fullwidth border-top margin-top-55 margin-bottom-0 padding-top-60 padding-bottom-65" data-background-color="#ffffff">
        <!-- Logo Carousel -->
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3 class="headline centered margin-bottom-40 margin-top-10">Companies We've Worked With <span>We can assist you with your innovation or commercialisation journey!</span></h3>
                </div>

                <!-- Carousel -->
                <div class="col-md-12">
                    <div class="logo-carousel dot-navigation">

                        <div class="item">
                            <img src={% static 'images/logo-01.png' %} alt="">
                        </div>

                        <div class="item">
                            <img src={% static 'images/logo-02.png' %} alt="">
                        </div>

                        <div class="item">
                            <img src={% static 'images/logo-03.png' %} alt="">
                        </div>

                        <div class="item">
                            <img src={% static 'images/logo-04.png' %} alt="">
                        </div>

                        <div class="item">
                            <img src={% static 'images/logo-05.png' %} alt="">
                        </div>

                        <div class="item">
                            <img src={% static 'images/logo-06.png' %} alt="">
                        </div>

                        <div class="item">
                            <img src={% static 'images/logo-07.png' %} alt="">
                        </div>


                    </div>
                </div>
                <!-- Carousel / End -->

            </div>
        </div>
        <!-- Logo Carousel / End -->
    </section>

{% endblock %}
{% block PAGE_JS %}
    <script>
        $(document).ready(function(){
            
            $.get("/events/get-GeoSon-event-data/"

                , function(data){
                    var events = L.layerGroup();
                    for (i in data.events){
                        L.marker([data.events[i].lat, data.events[i].lon]).bindPopup(data.events[i].html).addTo(events).openPopup()
                    }

                    var map = L.map('map', {
                        center: [data.events[0].lat, data.events[0].lon],
                        zoom: 7,
                        layers: [events],
                        
                         // false if you want an unruly map
                       
                        touchZoom:true,
                        //dragging: !L.Browser.mobile,
                        sleep: true,
                        // time(ms) until map sleeps on mouseout
                        sleepTime: 300,

                        // time(ms) until map wakes on mouseover
                        wakeTime: 550,

                        // should the user receive wake instructions?
                        sleepNote: true,

                        // should hovering wake the map? (non-touch devices only)
                        hoverToWake: true,

                        // a message to inform users about waking the map
                        wakeMessage: 'Click or Hover to Wake',

                        // a constructor for a control button
                        sleepButton: L.Control.sleepMapControl,

                        // opacity for the sleeping map
                        sleepOpacity: .8
                    });
            
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);
                });

            });
    </script>
{% endblock PAGE_JS %}