{% extends 'layouts/default.html' %}
{% load static %}
{% block PAGE_TITLE %}
    EntHub Privacy Policy &mdash; EntHub
{% endblock PAGE_TITLE %}  
{% block PAGE_CONTENT %}
    

<!-- Titlebar
================================================== -->
<div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
    
                    <h2>EntHub Privacy Policy</h2>
                    
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>Legals</li>
                        </ul>
                    </nav>
    
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Content
    ================================================== -->
    <div class="container">
    
        <!-- Inline Elements
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline with-border margin-top-45 margin-bottom-25">Privacy Policy</h4>
                <p>
                    There are many different ways you can use our services — to search for and share, to communicate with other people or to create new content. When you share information with us, for example by creating an E-Hub Account, we can make those services even better. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy.</p>
                    <p>
                        <h4>Our Privacy Policy explains:</h4>
                        <ul class="list-1">
                            <li>What information we collect and why we collect it. </li>
                            <li>How we use that information. </li>
                            <li>The choices we offer related to your information.</li>
                        </ul>
                    </p>
            </div>
        </div>
        <!-- Your EntHub Account
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Information we collect</h4>
               
                <p>We collect information in two ways. Information you give us and information that we get from your use of our services</p>
              
            </div>
        </div>


        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Data Controller</h4>
    
                <p>EntHub is the data controller for data collected on EntHub.co.zw and stored in our database. EntHub is located at <address>3472 Kuwadzana Harare, Zimbabwe</address>For any inquiries related to your data or this policy, please email <a href="maito:privacy@enthub.co.zw">privacy@enthub.co.zw</a></p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Information you give us</h4>
    
                <p>For example, many of our services require you to sign up for a EntHub Account. When you do, we’ll ask for personal information, like your name, email address, telephone number or credit card. If you want to take full advantage of the sharing features we offer, we might also ask you to create a publicly visible EntHub Profile, which may include your name and photo.</p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Information we get from your use of our services</h4>
    
                <p>We may collect information about the services that you use and how you use them. This information includes:</p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Device information</h4>
                <p>We may collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information including phone number). EntHub may associate your device identifiers or phone number with your EntHub Account.</p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Log information</h4>
                <p>When you use our services or view content provided by EntHub, we may automatically collect and store certain information in server logs. This may include:
                    <ul class="list-1">
                        <li>details of how you used our service.</li>
                        <li>Internet protocol address.</li>
                        <li>device event information such as crashes, system activity, hardware settings, browser type, browser language, the date and time of your request and referral URL.</li>
                        <li>cookies that may uniquely identify your browser or your EntHub Account.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    
   
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Location information</h4>
                <p>When you use a location-enabled EntHub service, we may collect and process information about your actual location, like GPS signals sent by a mobile device. We may also use various technologies to determine location, such as sensor data from your device that may, for example, provide information on nearby Wi-Fi access points and cell towers.
                  
                </p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Unique application numbers</h4>
                <p>Certain services include a unique application number. This number and information about your installation (for example, the operating system type and application version number) may be sent to EntHub when you install or uninstall that service or when that service periodically contacts our servers, such as for automatic updates.
                </p>
            </div>
        </div>
    
   
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Local storage</h4>
                <p>We may collect and store information (including personal information) locally on your device using mechanisms such as browser web storage (including HTML 5) and application data caches.
                </p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Cookies and anonymous identifiers</h4>
                <p>We and our partners use various technologies to collect and store information when you visit a EntHub service, and this may include sending one or more cookies or anonymous identifiers to your device. We also use cookies and anonymous identifiers when you interact with services we offer to our partners, such as advertising services or EntHub features that may appear on other sites.
                </p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">How we use information we collect</h4>
                <p>We use the information we collect from all of our services to provide, maintain, protect and improve them, to develop new ones, and to protect EntHub and our users. We also use this information to offer you tailored content – like giving you more relevant search results and ads.</p>
                <p>We may use the name you provide for your EntHub Profile across all of the services we offer that require an EntHub Account. In addition, we may replace past names associated with your EntHub Account so that you are represented consistently across all our services. If other users already have your email, or other information that identifies you, we may show them your publicly visible EntHub Profile information, such as your name and photo.</p>
                <p>When you contact EntHub, we may keep a record of your communication to help solve any issues you might be facing. We may use your email address to inform you about our services, such as letting you know about upcoming changes or improvements.</p>
                <p>We use information collected from cookies and other technologies, like pixel tags, to improve your user experience and the overall quality of our services. For example, by saving your language preferences, we’ll be able to have our services appear in the language you prefer. When showing you tailored ads, we will not associate a cookie or anonymous identifier with sensitive categories, such as those based on race, religion, sexual orientation or health.</p>
                <p>We may combine personal information from one service with information, including personal information, from other EntHub services – for example to make it easier to share things with people you know. We will not combine DoubleClick cookie information with personally identifiable information unless we have your opt-in consent.</p>
                <p>We will ask for your consent before using information for a purpose other than those that are set out in this Privacy Policy.</p>
                <p>EntHub processes personal information on our servers in many countries around the world. We may process your personal information on a server located outside the country where you live.</p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Transparency and choice</h4>
                <p>People have different privacy concerns. Our goal is to be clear about what information we collect so that you can make meaningful choices about how it is used. For example, you can:</p>
                <p>
                    <ul class="list-1">
                        <li>Review and control certain types of information tied to your EntHub Account by using EntHub Dashboard.</li>
                        <li>Use our editor to see and adjust how your EntHub Profile appears to particular individuals. User profile information appears on the “Fans following” section of a Event, Artist page, reviews and a user profile of someone with whom you are connected.</li>
                        <li>Control who you share information with.</li>
                        <li>Take information out of many of our services.</li>
                      
                    </ul>
                </p>
                <p>You may also set your browser to block all cookies, including cookies associated with our services, or to indicate when a cookie is being set by us. However, it’s important to remember that many of our services may not function properly if your cookies are disabled. For example, we may not remember your language preferences.

                </p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Information you share</h4>
                <p>Many of our services let you share information with others. For example, user profiles are defaulted to be visible by other EntHub members. Users can set their profile to "Private" in the "Account Settings" page via the nav menu as a signed in user. Users can also edit their username to change their profile URL. If your profile is set to private, your full profile will only be visible to EntHub members that you allow. Remember that when you share information publicly, it may be index able by search engines, including EntHub. Our services provide you with different options on sharing and removing your content. Here is a summary of how the settings control your information:</p>
                <p>
                    <b>Public user profile</b> - Profile information is visible to all EntHub users, including:
                    <ul class="list-1">
                        <li>Photo</li>
                        <li>Name</li>
                        <li>Location</li>
                        <li>Member since year </li>
                        <li>Biography text </li>
                        <li>Event Preferences</li>
                        <li>First, favorite, and dream events </li>
                        <li>All EntHub friend connections </li>
                        <li>All events you have followed, saved, reviewed </li>
                       
                    </ul>
                </p>
                <p><b>Private user profile</b> - Only signed in users who are my connections can see my full profile information (above). Signed out users and signed in users who are not my friends, will see a default private profile, including:
                    <ul class="list-1">
                        <li>Photo</li>
                        <li>Display Name</li>
                        <li>Member since year </li>
                        <li>Number of connections </li>
                        <li>Number of events </li>
                    </ul>
                </p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Accessing and updating your personal information</h4>
                <p>
                    Whenever you use our services, we aim to provide you with access to your personal information. If that information is wrong, we strive to give you ways to update it quickly or to delete it – unless we have to keep that information for legitimate business or legal purposes. When updating your personal information, we may ask you to verify your identity before we can act on your request.
                </p>
                <p>
                    We may reject requests that are unreasonably repetitive, require disproportionate technical effort (for example, developing a new system or fundamentally changing an existing practice), risk the privacy of others, or would be extremely impractical (for instance, requests concerning information residing on backup systems).
                </p>
                <p>
                    Where we can provide information access and correction, we will do so for free, except where it would require a disproportionate effort. We aim to maintain our services in a manner that protects information from accidental or malicious destruction. Because of this, after you delete information from our services, we may not immediately delete residual copies from our active servers and may not remove information from our backup systems.
                </p>
            </div>
        </div>


        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Full Erasure of Your Data</h4>
                <p>
                    Should you require erasure of your personal data, please contact <a href="maito:privacy@enthub.co.zw">privacy@enthub.co.zw</a> 
                </p>
              
            </div>
        </div>
    

        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Information we share</h4>
                <p>
                    We do not share personal information with companies, organizations and individuals outside of EntHub unless one of the following circumstances applies:
                </p>
              
            </div>
        </div>
    
   

        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">With your consent</h4>
                <p>
                    We will share personal information with companies, organizations or individuals outside of EntHub when we have your consent to do so. We require opt-in consent for the sharing of any sensitive personal information. Opt-in consent may include you affirmatively choosing to use certain features on the site such as those indicating your intent to attend a specific Event, including but not limited to buttons marked as "Save", "Want", "Going", and "I'm Going". In such instances, we may share limited personal information such as Your name and email with certain specific organizers of the eventss that you have indicated your intent to attend solely for the purposes of providing you official information about such events.
                </p>
              
            </div>
        </div>
    
   
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">For external processing</h4>
                <p>
                    We provide personal information to our affiliates or other trusted businesses or persons to process it for us, based on our instructions and in compliance with our Privacy Policy and any other appropriate confidentiality and security measures.
                </p>
                <p>
                    <b>External Processing Providers</b><br>
                    <i>Below is a list of providers that may provide external processing of data in the course of use of the EntHub site and products.</i>
                    <p>
                        <ul class="list-4">
                            <li>Facebook - Used as a login option and data source for profile information. Privacy Policy</li>
                            <li>Ecocash - is an innovative mobile payment solution that enables customers to complete financial transactions directly from their mobile phone!</li>
                            <li>Stripe - Handles payment processing Privacy Policy</li>
                            <li>Hive - Used for giveaways. Privacy Policy</li>
                            <li>Google Analytics - Internal analytics around site usage Privacy Policy</li>
                            <li>Amplitude - Internal analytics around site usage. Privacy Policy</li>
                            <li>Zendesk - For customer support resolution. Privacy Policy</li>
                            <li>Twitter - is an American online news and social networking service on which users post and interact with messages known as "tweets".</li>
                            <li>Instagram - is a photo and video-sharing social networking service owned by Facebook.</li>
                            <li>Skype - is a telecommunications application software product that specializes in providing video chat and voice calls between computers, tablets, mobile devices, the Xbox One console, and smartwatches via the Internet and to regular telephones.</li>
                        </ul>
                    </p>
                </p>
              
            </div>
        </div>
    
   
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">For legal reasons</h4>
                <p>
                    We will share personal information with companies, organizations or individuals outside of EntHub if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
                </p>
                <p>
                    <ul class="list-4">
                        <li>meet any applicable law, regulation, legal process or enforceable governmental request.</li>
                        <li>enforce applicable Terms of Service, including investigation of potential violations.</li>
                        <li>detect, prevent, or otherwise address fraud, security or technical issues.</li>
                        <li>protect against harm to the rights, property or safety of EntHub, our users or the public as required or permitted by law.</li>
                    </ul>
                </p>
              
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Information security</h4>
                <p>
                    We work hard to protect EntHub and our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold. In particular:
                </p>
                <p>
                    <ul class="list-4">
                      <li>We encrypt many of our services using SSL.</li>
                      <li>We review our information collection, storage and processing practices, including physical security measures, to guard against unauthorized access to systems.</li>
                      <li>We restrict access to personal information to EntHub employees, contractors and agents who need to know that information in order to process it for us, and who are subject to strict contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.</li>
                    </ul>
                </p>
              
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">When this Privacy Policy applies</h4>
                <p>
                    Our Privacy Policy applies to all of the services offered by EntHub. and its affiliates, including services offered on other sites (such as our advertising services), but excludes services that have separate privacy policies that do not incorporate this Privacy Policy.
                </p>
                <p>
                    Our Privacy Policy does not apply to services offered by other companies or individuals, including products or sites that may be displayed to you in search results, sites that may include EntHub services, or other sites linked from our services. 
                </p>
                
                <p>
                    Our Privacy Policy does not cover the information practices of other companies and organizations who advertise our services, and who may use cookies, pixel tags and other technologies to serve and offer relevant ads.
                </p>
            </div>
        </div>
    
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Compliance and cooperation with regulatory authorities</h4>
                <p>
                    We regularly review our compliance with our Privacy Policy. When we receive formal written complaints, we will contact the person who made the complaint to follow up. We work with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that we cannot resolve with our users directly.
                </p>
            </div>
        </div>
    
   
        <!-- 
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
            <!-- Headline -->
            <h4 class="headline margin-top-40 margin-bottom-25">Changes</h4>
                <p>
                    Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of privacy policy changes). We will also keep prior versions of this Privacy Policy in an archive for your review.
                </p>
            </div>
        </div>
    
   
    </div>
    
    
    
{% endblock PAGE_CONTENT %} 