{% load static %}
<!DOCTYPE html>
<head>

<!-- Basic Page Needs
================================================== -->
<title>{% block PAGE_TITLE %}{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta name="application-name" content="EntHub">
<meta name="theme-color" content="#f44336">

<meta name="description" content="{{ meta.description }}">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">

<!-- Open Graph-->
<meta name="og:title" property="og:title" content="{{ meta.og.title }}">
<meta property="og:url" content="{{ meta.og.url }}" />
<meta property="og:type" content="{{ meta.og.type }}" />
<meta property="og:description" content="{{ meta.og.description }}" />
<meta property="og:image" content="{{ meta.og.image }}" />
<meta property="og:site_name" content="EntHub">

<!-- Twitter -->
<meta name="twitter:card" content="{{ meta.twitter.card }}" />
<meta name="twitter:site" content="@kingraphaII">
<meta name="twitter:title" content="{{ meta.twitter.title }}" />
<meta name="twitter:description" content="{{ meta.twitter.description }}" />
<meta name="twitter:url" content="{{ meta.twitter.url }}" />
<meta name="twitter:image" content="{{ meta.twitter.image }}" />

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">


<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/colors/main.css' %}" id="colors">
{% block PAGE_CSS %}
  
{% endblock PAGE_CSS %}
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">


<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

	<!-- Topbar -->
	<div id="top-bar">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Top bar -->
				<ul class="top-bar-menu">
					<li><i class="fa fa-phone"></i> (263) 773 708-109 </li>
					<li><i class="fa fa-envelope"></i> <a href="mailto:info@ehub.app">info@ehub.app</a></li>
					<li>
						<div class="top-bar-dropdown">
							<span>Select Country</span>
							<ul class="options">
								<li><div class="arrow"></div></li>
								<li ><a href="#"><i class='fa fa-chevron-circle-right color'></i> Zimbabwe</a></li>
								<li><a href="#">South Africa</a></li>
								<li><a href="#">Botswana</a></li>
							</ul>
						</div>
					</li>
				</ul>

			</div>
			<!-- Left Side Content / End -->


			<!-- Left Side Content -->
			<div class="right-side">

				<!-- Social Icons -->
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
				</ul>

			</div>
			<!-- Left Side Content / End -->

		</div>
	</div>
	<div class="clearfix"></div>
	<!-- Topbar / End -->


	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="{% url 'site-home' %}"><img src={% static 'images/logo.png' %} alt=""></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li>
							<a class="current" href="{% url 'site-home' %}">Home</a>
							
						</li>

						<li><a href="#">Events</a>
							<ul>
								<li><a href="{% url 'events:index' %}">Browse</a></li>
								<li><a href="{% url 'events:map' %}">Map</a></li>
								<li><a href="javascript:void(0)">Calendar</a>
									<ul>
										<li><a href="{% url 'events:calendar' %}">Browse</a></li>
										
										<li><a href="javascript:void(0)">Sync to phone</a></li>
									</ul>
								</li>
								<li><a href="{% url 'events:post-event' %}">Post an Event</a></li>
							</ul>
						</li>

					
						<li><a href="#">Artists</a>
							<ul>
								<li><a href="{% url 'artists:index' %}">Listing</a></li>
							</ul>
						</li>
						
						<li><a href="#">Venues</a>
							<ul>
								<li><a href="{% url 'venues:index' %}">Listing</a></li>
								<li><a href="{% url 'venues:index' %}">Map</a></li>
							</ul>
						</li>
						
						<li><a href="#">News</a>
							<ul>
								<li><a href="javascript:void(0)">Site Updates</a></li>
								<li><a href="javascript:void(0)">Top News</a></li>
								<li><a href="javascript:void(0)">Latest</a></li>
							</ul>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
				
				{% if user.is_authenticated %}
				<!-- Header Widget -->
				<div class="header-widget">
					<!-- User Menu -->
					<div class="user-menu">
						<div class="user-name">
							<span>
								{% if user.profile.avatar %}
									<img src="{{ user.profile.avatar.url }}" alt="">
								{% else %}
									<img src="{% static 'images/no-avatar.png' %}" alt="">
								{% endif %}
								
							</span>
							Hi, {{ request.user.get_short_name }}!</div>
						<ul>
							<li><a href="{% url 'account:account-profile' %}"><i class="sl sl-icon-user"></i> My Profile</a></li>
							<li><a href="javascript:void(0)"><i class="sl sl-icon-star"></i> Bookmarks</a></li>
							<li><a href="{% url 'events:my-events' %}"><i class="sl sl-icon-docs"></i> My Events</a></li>
							<li><a href="{% url 'authentication:logout' %}"><i class="sl sl-icon-power"></i> Log Out</a></li>
						</ul>
					</div>

					<a href="{% url 'events:post-event' %}" class="button border">Post Event</a>
				</div>
				<!-- Header Widget / End -->
				{% else %}
				<!-- Header Widget -->
					<div class="header-widget">
						<a href="{% url 'authentication:auth' %}" class="sign-in"><i class="fa fa-user"></i> Log In / Register</a>
						<a href="{% url 'events:post-event' %}" class="button border">Post Event</a>
					</div>
				<!-- Header Widget / End -->
				{% endif %}
				
			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

{% block PAGE_CONTENT %} {% endblock %}



{% block FOOTER %}
<!-- Footer
================================================== -->
<div id="footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<img class="footer-logo" src={% static 'images/logo.png' %} alt="">
				<br><br>
				<a href="{% url 'co-policy' %}">
					Publication of Events, Artist and Venues does not imply endorsement by or affiliation with EntHub.
					All information on EntHub including names, trademarks, and brands are property of their respective owners.
				</a>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>Helpful Links</h4>
				<ul class="footer-links">
					<li><a href="{% url 'authentication:auth' %}">Login/Register</a></li>
					<li><a href="{% url 'account:account-profile' %}">My Account</a></li>
					<li><a href="{% url 'events:post-event' %}">Add Event</a></li>
					<li><a href="{% url 'tos' %}">Terms Of Services</a></li>
					<li><a href="{% url 'pr-policy' %}">Privacy Policy</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">E-Hub News</a></li>
					<li><a href="#">Our Team</a></li>
					<li><a href="#">How It Works</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

			<div class="col-md-3  col-sm-12">
				<h4>Contact Us</h4>
				<div class="text-widget">
					<span></span> <br>
					Phone: <span><a href="tel:+263773708109">+(263) 773 708-109</a> </span><br>
					E-Mail:<span> <a href="mailto:info@enthub.co.zw">info@enthub.co.zw</a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="whatsapp" href="#"><i class="icon-whatsapp"></i></a></li>
				</ul>

			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">&copy; {% now 'Y' %} Enthub. All Rights Reserved.</div>
			
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->

{% endblock FOOTER %}
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


<!-- Scripts
================================================== -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"></script>
<script type="text/javascript" src="{% static 'scripts/magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/rangeSlider.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/sticky-kit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/masonry.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/mmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/tooltips.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>

{% block PAGE_JS %} {% endblock %}

</div>
<!-- Wrapper / End -->


</body>
</html>