{% extends "layouts/default.html" %}
{% block PAGE_TITLE %}
    Artists &mdash; Ehub
{% endblock PAGE_TITLE %}
{% load static %}
{% block PAGE_CONTENT %}
    
<!-- Titlebar
================================================== -->
<div class="parallax titlebar"
	data-background="{% static 'images/artists1.jpg' %}"
	data-color="#333333"
	data-color-opacity="0.7"
	data-img-width="800"
	data-img-height="505">

	<div id="titlebar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<h2>EntHub Artists</h2>
					<span>Artists Listings</span>
					
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li>Artists</li>
						</ul>
					</nav>

				</div>
			</div>
		</div>
	</div>
</div>
    
     
    
    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">
    
            <div class="col-md-12">
                <!-- Main Search Input -->
                <div class="main-search-box no-shadow">
        
        
                        <!-- Row With Forms -->
                        <div class="row with-forms">
                             <!-- Main Search Input -->
                            <div class="col-md-8">
                                <div class="main-search-input">
                                    <input id="sq" type="text" placeholder="Enter artist name e.g. Jah Signal" value=""/>
                                    
                                </div>
                            </div>

                            <!-- Property Type -->
                            <div  class="col-md-4">
                                <div class="main-search-input">
                                        <select id="genres" data-placeholder="Any Genre" class="chosen-select-no-single" >
                                            <option disabled selected="selected">Any Genre</option>
                                                {% for genre in genres %}
                                                    <option value="{{ genre.id }}">{{ genre }}</option>
                                                {% endfor %}
                                            </select>   
                                <button class="button" id='searchbtn'>Search</button>
                                </div>
                            </div>
        
                        </div>
                      

                    </div>
            </div>
    
    
            <div class="col-md-12">
                <div class="row">
    
                    <!-- Agents Container -->
                    <div class="agents-grid-container">
                        
                        {% if artists %}
                            {% for artist in artists %}
                                <!-- Agent -->
                                <div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="agent">
                
                                            <div class="agent-avatar">
                                                <a href="{% url 'artists:view' artist.id artist.stage_name|slugify %}">
                                                    <img src="{{ artist.user_profile.avatar.url }}" alt="">
                                                    <span class="view-profile-btn">View Profile</span>
                                                </a>
                                            </div>
                
                                            <div class="agent-content">
                                                <div class="agent-name">
                                                    <h4><a href="{% url 'artists:view' artist.id artist.stage_name|slugify %}">{{ artist.stage_name|title }}</a></h4>
                                                    <span><a href="#">{{artist.genre }}</a> artist</span>
                                                </div>
                
                                                <ul class="social-icons">
                                                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                                                    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                                                    <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                                                    <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>
                
                                        </div>
                                    </div>
                                    <!-- Agent / End -->
                            {% endfor %}
                        {% endif %}
                       
    
    
                    </div>
                    <!-- Agents Container / End -->
    
                </div>
            </div>
    
    
            <div class="col-md-12">
                <div class="clearfix"></div>
                <!-- Pagination -->
                <div class="pagination-container margin-top-20">
                        <nav class="pagination">
                            <ul>
                                {% for i in page_range %}
                                    {% if artists.number == i %}
                                        <li><a href="javascript:void(0)" class="current-page">{{ i }}</a></li>
                                    {% else %}
                                        <li><a class="paginator-link" data-page-target="{{ i }}" href="javascript:void(0)">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                
                            </ul>
                        </nav>
        
                        <nav class="pagination-next-prev">
                            <ul>
                                {% if artists.has_previous %}
                                    <li><a data-page-target="{{ artists.previous_page_number }}" href="javascript:void(0)" class="paginator-link prev">Previous</a></li>
                                {% else %}
                                    <li><a href="javascript:void(0)" class="disabled prev">Previous</a></li>
                                {% endif %}
    
                                {% if artists.has_next %}
                                <li><a data-page-target="{{ artists.next_page_number }}" href="javascript:void(0)" class="paginator-link next">Next</a></li>
                             
                                {% else %}
                                    <li><a href="javascript:void(0)" class="next disabled">Next</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                <!-- Pagination / End -->
            </div>
    
        </div>
    </div>

{% endblock PAGE_CONTENT %} 
{% block PAGE_JS %}
  <script>
    $(document).ready(function(){
        ($.urlParam('query') !== null && $.urlParam('query') != '')? $('#sq').val((decodeURIComponent($.urlParam('query')))): //pass;
        
        $('#stype').find('option:contains("' + decodeURIComponent($.urlParam('event_type')) + '")').attr('selected', 'selected');
        //    return this.text == decodeURIComponent($.urlParam('event_type')); 
        //}).attr('selected', true);

    });

    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        return results[1] || 0;
    }
      $(".paginator-link").on('click', function() {
            page = $(this).attr('data-page-target');
            var query, genre;
            query = String($('#sq').val());
           
            genre = String($('#genres').find(":selected").text());
           
            var params = {
                page:page,
                query: query,
               
                genre: genre,
               
            };
            var new_href = window.location.href.split('?')[0] +'?'+$.param(params);
            window.location.href = new_href;
      });
      $("#searchbtn").on('click',function(){
        page = 1;
        var query, genre;
        query = String($('#sq').val());
       
        genre = String($('#genres').find(":selected").text());
       
        var params = {
            page:page,
            query: query,
           
            genre: genre,
           
        };
        
        var new_href = window.location.href.split('?')[0] +'?'+$.param(params);
        window.location.href = new_href;

      });
     
  </script>
{% endblock PAGE_JS %}