{% extends "layouts/default.html" %}
{% load static %}
{% block PAGE_TITLE %}
   {{ artist.stage_name|upper }} &mdash; Ehub
{% endblock PAGE_TITLE %}
{% block PAGE_CSS %}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin=""></script>
{% endblock PAGE_CSS %}

{% block PAGE_CONTENT %}
    

<!-- Titlebar
================================================== -->
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>{{ artist.stage_name }}</h2>
                <span>{{ artist.genre|title }} artist</span>
                
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Artists</a></li>
                        <li>{{ artist.stage_name }}</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<!-- Content
================================================== -->
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="agent agent-page">

                <div class="agent-avatar">
                    <img src="{{ artist.user_profile.avatar.url }}" alt="">
                </div>

                <div class="agent-content">
                    <div class="agent-name">
                        <h4>{{ artist.stage_name|title }}{% if artist.alias %} aka {{ artist.alias }} {% endif %} </h4>
                        <span><a href="#">{{ artist.genre|title }}</a> artist</span>
                    </div>
                   
                    <p>
                        {{ artist.bio }}
                    </p>
                    {% if artist.website %}
                        <p>
                            <a target="_blank" href="{{ artist.website }}">{{artist.website}} <i class="fa fa-external-link"></i></a>
                        </p>
                    {% endif %}
                    <ul class="social-icons">
                        {% if artist.user_profile.facebook %}
                          <li><a target="_blank" class="facebook" href="{{artist.user_profile.social.facebook }}"><i class="icon-facebook"></i></a></li>  
                        {% endif %}

                        {% if artist.user_profile.twitter %}
                          <li><a target="_blank" class="twitter" href="{{artist.user_profile.social.twitter }}"><i class="icon-twitter"></i></a></li>  
                        {% endif %}
                       
                        {% if artist.user_profile.google %}
                          <li><a target="_blank" class="gplus" href="{{artist.user_profile.social.google }}"><i class="icon-gplus"></i></a></li>  
                        {% endif %}
                       
                        {% if artist.user_profile.instagram %}
                          <li><a target="_blank" class="instagram" href="{{artist.user_profile.social.instagram }}"><i class="icon-instagram"></i></a></li>  
                        {% endif %}
                      
                    </ul>
                    <div class="clearfix"></div>

                    {% if artist.has_contacts %}
                        <div class="row">
                            {% for contact in artist.contacts.all %}
                                
                                <ul class="agent-contact-details">
                                    For <mark class="color">{{ contact.purpose }}</mark> contact:
                                    <li><i class="fa fa-user"></i>{{ contact.person }}</li>
                                    
                                    {% if contact.email %}
                                        <li>
                                            <i class="fa fa-envelope-o "></i>
                                            <a href="mailto:{{ contact.email }}">
                                                <span>Send Email</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if contact.phone %}
                                        {% if contact.whatsapp %}
                                            <li>
                                                <i class="sl sl-icon-call-in"></i><a href="tel:{{ contact.phone }}">Call Now</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-whatsapp"></i>
                                                <a id="wa-link-{{ contact.id }}" href="#">Whatsapp</a>
                                            </li>
                                        {% else %}
                                            <li><i class="sl sl-icon-call-in"></i><a href="tel:{{ contact.phone }}">Call</a></li>
                                        {% endif %}
                                    {% endif %}
                                    
                                </ul>
                                <script type="text/javascript">
                                    var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
                                    
                                    if (isMobile) {
                                        var text = "Hi {{ contact.person }}, i'm contacting you concerning artist - {{ artist.stage_name|title }} for {{ contact.purpose }}.";
                                        document.getElementById("wa-link-{{contact.id}}").setAttribute('href', "whatsapp://send?phone={{ contact.phone }}&text="+text);
                                    } else {
                                        var text = "Hi {{ contact.person }}, i'm contacting you concerning artist - {{ artist.stage_name|title }} for {{ contact.purpose }}.";
                                        document.getElementById("wa-link-{{contact.id}}").setAttribute('href',"https://web.whatsapp.com/send?phone={{ contact.phone }}&text="+text);
                                    }
                                </script>
                                <br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                        
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </div>
</div>


<!-- Content
================================================== -->
<div class="container">
    <div class="row sticky-wrapper">

        <div class="col-lg-8 col-md-8">

            <h4 class="headline">Featured Events</h4>

            <!-- Sorting / Layout Switcher -->
            <div class="row margin-bottom-15">

                <div class="col-md-6">
                    <!-- Sort by -->
                    <div class="sort-by">
                        <label>Sort by:</label>

                        <div class="sort-by-select">
                            <select data-placeholder="Default order" class="chosen-select-no-single" >
                                <option>Default Order</option>	
                               
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Layout Switcher -->
                    <div class="layout-switcher">
                        <a href="#" class="list"><i class="fa fa-th-list"></i></a>
                        <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
                    </div>
                </div>
            </div>

            
            <!-- Listings -->
            <div class="listings-container list-layout">
                {% if featured_events %}
                    {% for event in featured_events %}
                    <div class="listing-item">

                            <a href="#" class="listing-img-container">
        
                                <div class="listing-badges">
                                    <span class="featured">Featured</span>
                                    <span>{{ event.type }}</span>
                                </div>
        
                                <div class="listing-img-content">
                                    <span class="listing-price">
                                        {{ event.start_date|date:'d M'}} 
                                        <i>{{ event.start_date|date:'H:i'}}</i>
                                    </span>
                                    <span class="like-icon tooltip"></span>
                                </div>
                                {% if event.poster_count > 1 %}
                                    <div class="listing-carousel">
                                        {% for poster in event.get_other_posters %}
                                            <div><img src="{{ poster.image.url }}"></div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <img src="{{ event.get_poster_url }}" alt="">
                                {% endif %}
                              
                            </a>
                            
                            <div class="listing-content">
        
                                <div class="listing-title">
                                    <h4><a href="{% url 'events:view-event' event.id event.name|slugify %}">{{ event.name|title }}</a></h4>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-map-marker"></i>
                                        <b>{{ event.location.name|title }}</b> - {{ event.location.street_address|title|truncatechars:15 }}
                                    </a>
                                    
                                    <a href="{% url 'events:view-event' event.id event.name|slugify %}" class="details button border">Details</a>
                                </div>
        
                                <ul class="listing-details">
                                    <li>{{ event.about|truncatechars:50}}</li>
                                </ul>
        
                                <div class="listing-footer">
                                    <a href="#"><i class="fa fa-user"></i> {{ event.added_by|title }}</a>
                                    <span><i class="fa fa-calendar-o"></i> {{ event.created_at|timesince }}</span>
                                </div>
        
                            </div>
        
                        </div>
                    {% endfor %}
                {% else %}
                    Nothing yet
                {% endif %}
              
                <!-- Listing Item / End -->
            </div>
            <!-- Listings Container / End -->

        </div>


        <!-- Sidebar -->
        <div class="col-lg-4 col-md-4">
            <div class="sidebar sticky right">

                <!-- Widget -->
                <div class="widget margin-bottom-40">
                    <h3 class="margin-top-0 margin-bottom-35">Find Artists</h3>

                    <!-- Row -->
                    <div class="row with-forms">
                        <!-- Status -->
                        <div class="col-md-12">
                            <input type="text" placeholder="Artist name">
                        </div>
                    </div>
                    <!-- Row / End -->


                    <!-- Row -->
                    <div class="row with-forms">
                        <!-- Status -->
                        <div class="col-md-12">
                            <select data-placeholder="Any Status" class="chosen-select-no-single" >
                                <option>Any Genre</option>	
                             
                            </select>
                        </div>
                    </div>
                    <!-- Row / End -->
                    <button class="button fullwidth margin-top-30">Search</button>


                </div>
                <!-- Widget / End -->


                <!-- Widget -->
                <div class="widget margin-top-55">
                    <h3 class="margin-bottom-35">Featured Artists</h3>
                    {% if featured_artists %}
                        <div class="listing-carousel outer">
                            {% for artist in featured_artists %}
                                <!-- Item -->
                                <div class="item">
                                    <div class="listing-item compact">
        
                                        <a href="#" class="listing-img-container">
        
                                            <div class="listing-badges">
                                                <span class="featured">Featured</span>
                                                <span>{{ artist.genre }}</span>
                                            </div>
        
                                            <div class="listing-img-content">
                                                <span class="listing-compact-title">{{ artist.stage_name}} <i>{{ artist.alias }}</i></span>
        
                                                <ul class="listing-hidden-content">
                                                    <li>{{ artist.bio }}</li>
                                                </ul>
                                            </div>
        
                                            <img src="{{ artist.user_profile.avatar.url }}" alt="">
                                        </a>
        
                                    </div>
                                </div>
                                <!-- Item / End -->
                            {% endfor %}
                        </div>
                    {% else %}
                        Nothing yet
                    {% endif %}
                   

                </div>
                <!-- Widget / End -->


            </div>
        </div>
        <!-- Sidebar / End -->

    </div>
</div>
    

{% endblock PAGE_CONTENT %} 

{% block PAGE_JS %}
    <script type="text/javascript">
      
        var eventMap = L.map('eventMap').setView([{{ event.location.latitude }}, {{ event.location.longitude }}], 13);
        eventMap.setZoom(200);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(eventMap);
        html = "<div style=\"font-family:'Varela Round' !important;color:#fff !important;\">"
                    + "<h3>{{ event.location.name|title}}</h3>"
                    + "<p>{{ event.location.street_address|title}}</p>"
                + "</div>";
         L.marker([{{ event.location.latitude }}, {{ event.location.longitude }}]).addTo(eventMap).bindPopup(html)
        .openPopup();

        L.circle([{{ event.location.latitude }}, {{ event.location.longitude }}], {
            color: '#ffffff00',
            fillColor: '#f44336',
            fillOpacity: 0.5,
            radius: 100
        }).addTo(eventMap);
    </script>
{% endblock PAGE_JS %}