{% extends "layouts/default.html" %}
{% load static %}
{% block PAGE_TITLE %} Manage Events &mdash; Ehub {% endblock PAGE_TITLE %}
{% block PAGE_CSS %}
    <link rel="stylesheet" href="{% static 'css/customized/bootstrap/bootstrap.css' %}">
{% endblock PAGE_CSS %}
{% block PAGE_CONTENT %}
    <!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Manage Events</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Account</a></li>
						<li><a href="#">Events</a></li>
						<li>Manage</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">


		<!-- Widget -->
		<div class="col-md-4">
			<div class="sidebar left">

				<div class="my-account-nav-container">
					
                        <ul class="my-account-nav">
                            <li class="sub-nav-title">Manage Account</li>
                            <li><a href="{% url 'account:account-profile' %}" ><i class="sl sl-icon-user"></i> My Profile</a></li>
                            <li><a href="my-bookmarks.html"><i class="sl sl-icon-star"></i> Bookmarked Items</a></li>
                        </ul>
                            
                        <ul class="my-account-nav">
                            <li class="sub-nav-title">Artist Profile</li>
                            {% if user.profile.artist %}
                                <li><a href="{% url 'artists:view-my-profile' %}" ><i class="sl sl-icon-microphone"></i> View Your Profile</a></li>
                                <li><a href="{% url 'artists:my-contacts' %}"><i class="sl sl-icon-call-in"></i> Contacts</a></li>
                            {% else %}
                                <li><a href="{% url 'artists:create-profile' %}"><i class="sl sl-icon-microphone"></i> Create Artist Profile</a></li>
                            {% endif %}
                        </ul>

                        <ul class="my-account-nav">
                            <li class="sub-nav-title">Events</li>
                            <li><a href="{% url 'events:my-events' %}" class="current"><i class="fa fa-clone"></i> My Events</a></li>
                           
                        </ul>
        

					<ul class="my-account-nav">
						<li><a href="{% url 'authentication:change-password' %}"><i class="sl sl-icon-lock"></i> Change Password</a></li>
						<li><a href="{% url 'authentication:logout' %}"><i class="sl sl-icon-power"></i> Log Out</a></li>
					</ul>

				</div>

			</div>
		</div>

		<div class="col-md-8">
				{% if messages %}

					{% for message in messages %}
						<div class="notification {% if message.tags %} {{ message.tags }}{% endif %} closeable">
							<p>
								{{ message }}
							<a class="close"></a>
						</div>
					{% endfor %}
						
				{% endif %}
				<table class="manage-table responsive-table">
						<tr>
							<th>Event</th>
							<th class="expire-date">Date </th>
							<th>
								<a style='padding: 1px 10px;
										line-height: 20px;
										color: #fff;
										border: 1px solid rgb(236, 230, 230);
										border-radius:2px;
										' 
									class ="button border"
									href="javascript:void(0)"
									id='add-new-event-trigger'
									onMouseOver="this.style.backgroundColor ='#fff';this.style.color='#f44336'"
                                    onMouseOut="this.style.backgroundColor ='#f44336';this.style.color='#fff'">
                                    <i class='fa fa-plus-circle'></i>Add</a></th>
						</tr>
						{% if events %}
							{% for event in events %}
                            <tr>
                                <td class="title-container">
                                    <img src="{{ event.get_poster_url }}" alt="">
                                    <div class="title">
                                        <h4><a href="#">{{ event.name }}</a></h4>
                                        <span><a href="{% url 'events:edit' event.id %}"><i class="fa fa-map-marker"></i> {{ event.get_address }}</a></span>
                                         <span class="table-property-price">{{ event.type }}</span>
                                    </div>
                                </td>
                                <td class="expire-date"><b>{{ event.start_date|date:'F d, Y H:i' }}hrs</b></td>
                                <td class="action">
                                    <a href="{% url 'events:edit' event.id %}"><i class="fa fa-pencil"></i> Edit</a>
                                    <a id='detailsTrigger{{ event.id }}' data-eid="{{ event.id }}" href="javascript:void(0)"><i class="fa fa-eye"></i> Details</a>
                                    <a href="{% url 'events:delete' event.id %}" class="delete"><i class="fa fa-remove"></i> Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="3" align='center'>
                                <mark class="highlighted">
                                        Nothing here yet. <a href='{% url 'events:post-event' %}'>Post</a> your first event today!
                                </mark>
                            </td>
                        </tr>
						{% endif %}
                </table>

                <!--  Modal -->
					<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalTitle" aria-hidden="true">
							<div class="modal-dialog " role="document">
							<div class="modal-content">
								<div class="modal-header">
								<h5 class="modal-title" id="detailsModalTitle">Event Details</h5>
								<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button> -->
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-12 col-md-12 col-lg-12">
                                            <table id='details-table' class="basic-table">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2" id=''>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th colspan="2" id=''>Details</th>
                                                    </tr>
                                                </tbody>
                                            </table>
										</div>
                                    </div>
								</div>
								<div class="modal-footer">
									<a class="button medium border" data-dismiss="modal">Close</a>
								</div>
							</div>
							</div>
						</div>
		</div>

	</div>
</div>


{% endblock PAGE_CONTENT %}

{% block PAGE_JS %}
<script type="text/javascript" src="{% static 'scripts/customized/bootstrap/bootstrap.js' %}"></script>
<script>
    
    $("[id^=detailsTrigger]").on('click', function(){
        var eid;
        eid = $(this).attr("data-eid");
        $.post("/events/get-details/", {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            event: eid
        }, function(data){
            var Event = data;
            
            $("#details-table > tbody:last-child").empty()
            $.each(data, function(i,val){
                //$trow
                
                $("#details-table > tbody:last-child").append($('<tr>')
                    .append($('<td>').append(i))
                    .append($('<td>').append(val))
                    );
            });
           
            $("#detailsModal").modal('show')
        });

       
    });

</script>
{% endblock PAGE_JS %}