{% extends "layouts/default.html" %}
{% load static %}
{% block PAGE_TITLE %}
   {{ event.name|upper }} &mdash; Ehub
{% endblock PAGE_TITLE %}
{% block PAGE_CSS %}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}"/>
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin=""></script>
{% endblock PAGE_CSS %}
{% block PAGE_CONTENT %}
    
<!-- Titlebar
================================================== -->
<div id="titlebar" class="property-titlebar margin-bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <a href="{% url 'events:index' %}" class="back-to-listings"></a>
                    <div class="property-title">
                        <h2>{{ event.name|title }} <span class="property-badge">{{ event.type|title }}</span></h2>
                        <span>
                            <a href="#location" class="listing-address">
                                <i class="fa fa-map-marker"></i>
                                <b>{{ event.location.name }}</b> - {{ event.location.street_address }}, {{ event.location.city.name }}
                            </a>
                        </span>
                    </div>
    
                    <div class="property-pricing">
                        <div class="property-price">{{ event.start_date|date:'d M'}}</div>
                        <div class="sub-price">{{ event.start_date|date:'H:i'}}</div>
                    </div>
    
    
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row margin-bottom-50">
            <div class="col-md-12">
                <!-- Slider -->
                <div class="property-slider default">
                    {% if event.poster_count > 1 %}
                        {% for poster in event.get_other_posters %}
                            <a href="{{ poster.image.url }}" style="background-position: initial" data-background-image="{{ poster.image.url }}" class="item mfp-gallery"></a>
                        {% endfor %}
                    {% else %}
                        <a href="{{ event.get_poster_url }}" style="background-position: initial" data-background-image="{{ event.get_poster_url }}" class="item mfp-gallery"></a>
                    {% endif %}
                </div>
    
                <!-- Slider Thumbs -->
                <div class="property-slider-nav">
                    {% if event.poster_count > 1 %}
                        {% for poster in event.get_other_posters %}
                            <div class="item"><img src="{{ poster.image.url }}" alt=""></div>
                        {% endfor %}
                    {% else %}
                        <div class="item"><img src="{{ event.get_poster_url }}" alt=""></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <div class="row">
    
            <!-- Property Description -->
            <div class="col-lg-8 col-md-7">
                <div class="property-description">
    
                    <!-- Description -->
                    <h3 class="desc-headline"><i class="fa fa-info-circle"></i> About {{ event.name|title }}</h3>
                    <div class="show">
                        <p>
                            {{ event.about|title }}
                        </p>
                        <p></p>
                        <!-- <a href="#" class="show-more-button">Show More <i class="fa fa-angle-down"></i></a> -->
                    </div>
    
                    <!-- Details -->
                    <h3 class="desc-headline"><i class="fa fa-dollar"></i> Admission</h3>
                    <p>
                        {% if similar_event.admission %} {{ similar_event.admission }} {% else %} Not Specified {% endif %}
                       
                    </p>                
    
                  
                    
                    <!-- Location -->
                    <h3 class="desc-headline" id="location"><i class="fa fa-map-marker"></i> Location</h3>
                    <ul class="property-features margin-top-0">
                        <li>Location name: <span>{{ event.location.name }}</span></li>
                        <li>Street Adress: <span>{% if event.location.street_address %} {{ event.location.street_address }} {% else %} Not Specified {% endif %}</span></li>
                        <li>City: <span>{{ event.location.city.name }}</span></li>
                        <li>Country: <span>{{ event.location.city.country }}</span></li>
                        <li>Zip Code: <span>{% if event.location.zip_code %} {{ event.location.zip_code }} {% else %} &mdash; {% endif %}</span></li>
                        <li>Latitude: <span>{% if event.location.latitude %} {{ event.location.latitude }} {% else %} &mdash; {% endif %}</span></li>
                        <li>Longitude: <span>{% if event.location.longitude %} {{ event.location.longitude }} {% else %} &mdash; {% endif %}</span></li>
                    </ul>
                    <hr>
                    <div id="propertyMap-container">
                        <div id="eventMap" style="height: 400px;position: relative;overflow: hidden;border-radius: 3px;" data-latitude="{{ event.location.latitude }}" data-longitude="{{ event.location.longitude }}"></div>
                        <a href="javascript:void(0)" id="streetView">Street View</a>
                    </div>
    
    
                    <!-- Similar Listings Container -->
                    <h3 class="desc-headline no-border margin-bottom-35 margin-top-60">Similar Events</h3>
    
                    <!-- Layout Switcher -->
    
                    <div class="layout-switcher hidden"><a href="#" class="list"><i class="fa fa-th-list"></i></a></div>
                    <div class="listings-container list-layout">
                        
                        {% if similar %}
                            {% for similar_event in similar %}
                                <!-- Listing Item -->
                                <div class="listing-item">

                                        <a href="{% url 'events:view-event' similar_event.id similar_event.name|slugify %}" class="listing-img-container">
                
                                            <div class="listing-badges">
                                                <span>{{ similar_event.type }}</span>
                                            </div>
                
                                            <div class="listing-img-content">
                                                <span class="listing-price">{{ similar_event.start_date|date:'d M'}}<i>{{ similar_event.start_date|date:'H:i'}}</i></span>
                                                <span class="like-icon"></span>
                                            </div>
                
                                            <img src="{{ similar_event.get_poster_url }}" alt="">
                
                                        </a>
                                        
                                        <div class="listing-content">
                
                                            <div class="listing-title">
                                                <h4><a href="{% url 'events:view-event' similar_event.id similar_event.name|slugify %}">{{ similar_event.name|title }}</a></h4>
                                                <a href="#" class="listing-address popup-gmaps">
                                                    <i class="fa fa-map-marker"></i>
                                                    <b>{{ similar_event.location.name|upper }}</b> - {{ similar_event.location.street_address|truncatechars:20 }}, {{ similar_event.location.city.name| title }}
                                                </a>
                
                                                <a href="{% url 'events:view-event' similar_event.id similar_event.name|slugify %}" class="details button border">Details</a>
                                            </div>
                
                                            <ul class="listing-details">
                                                <li><i class="sl sl-icon-info"></i> {{ similar_event.about|capfirst|truncatechars:20 }}</li>
                                                <li><i class="fa fa-dollar"></i> - {% if similar_event.admission %} {{ similar_event.admission }} {% else %} Not Specified {% endif %}</li>
                                            </ul>
                
                                            <div class="listing-footer">
                                                <a href="#"><i class="fa fa-user"></i> {{ similar_event.added_by|title }}</a>
                                                <span><i class="fa fa-calendar-o"></i> {{ similar_event.created_at|timesince }}</span>
                                            </div>
                
                                        </div>
                                        <!-- Listing Item / End -->
                
                                    </div>
                                    <!-- Listing Item / End -->
                
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                      
                    </div>
                    <!-- Similar Listings Container / End -->
    
                </div>
            </div>
            <!-- Property Description / End -->
    
    
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-5">
                <div class="sidebar sticky right">
    
                    <!-- Widget -->
                    <div class="widget margin-bottom-30">
                        <button class="widget-button with-tip" data-tip-content="Add to Bookmarks"><i class="fa fa-star-o"></i></button>
                         <div class="clearfix"></div>
                    </div>
                    <!-- Widget / End -->
    
    
                    <!-- Widget -->
                    <div class="widget">
    
                        <div class="agent-widget">
                            <div class="agent-title">
                                
                                <div class="agent-details">
                                        <span>Send message</span>
                                        <span>to</span>
                                    <h4><a href="#">{{ event.added_by|title }}</a></h4>
                                    
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% if not user.is_authenticated %}
                                <input type="text" placeholder="Your Email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$">
                                <input type="text" placeholder="Your Phone">
                            {% endif %}
                           
                            <textarea>I'm interested in this event [{{event.name|title}}] and I'd like to know more details.</textarea>
                            <button class="button fullwidth margin-top-5">Send Message</button>
                        </div>
                        <!-- Agent Widget / End -->
    
                    </div>
                    <!-- Widget / End -->
    
    
                    <!-- Widget -->
                    <div class="widget">
                        <h3 class="margin-bottom-35">Featured Events</h3>
    
                        <div class="listing-carousel outer">
                            <!-- Event -->
                            {% if featured %}
                                {% for featured_event in featured %}
                                    <div class="item">
                                        <div class="listing-item compact">
            
                                            <a href="{% url 'events:view-event' featured_event.id featured_event.name|slugify %}" class="listing-img-container">
            
                                                <div class="listing-badges">
                                                    <span class="featured">Featured</span>
                                                    <span>{{ featured_event.type }}</span>
                                                </div>
            
                                                <div class="listing-img-content">
                                                    <span class="listing-compact-title">{{ featured_event.name|title }} <i>{{ featured_event.start_date|date:'d M'}}</i></span>
            
                                                    <ul class="listing-hidden-content">
                                                        <li><i class="fa fa-map-marker"></i> {{ featured_event.location.name }}</span></li>
                                                        <li>{{ featured_event.location.city|upper }}</li>
                                                    </ul>
                                                </div>
            
                                                <img src="{{ featured_event.get_poster_url }}" alt="">
                                            </a>
            
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                           
                            <!-- Event / End -->
                        </div>
    
                    </div>
                    <!-- Widget / End -->
    
                </div>
            </div>
            <!-- Sidebar / End -->
    
        </div>
    </div>
    
{% endblock PAGE_CONTENT %} 

{% block PAGE_JS %}
    <script type="text/javascript">
      
        var eventMap = L.map('eventMap').setView([{{ event.location.latitude }}, {{ event.location.longitude }}], 13);
        eventMap.setZoom(200);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(eventMap);
        html = "<div style=\"font-family:'Varela Round' !important;color:#fff !important;\">"
                    + "<h3>{{ event.location.name|title}}</h3>"
                    + "<p>{{ event.location.street_address|title}}</p>"
                + "</div>";
         L.marker([{{ event.location.latitude }}, {{ event.location.longitude }}]).addTo(eventMap).bindPopup(html)
        .openPopup();

        L.circle([{{ event.location.latitude }}, {{ event.location.longitude }}], {
            color: '#ffffff00',
            fillColor: '#f44336',
            fillOpacity: 0.5,
            radius: 100
        }).addTo(eventMap);
    </script>
{% endblock PAGE_JS %}