{% extends "layouts/default.html" %}
{% load static %}
{% block PAGE_TITLE %}
   {{ event.name|upper }} &mdash; Ehub
{% endblock PAGE_TITLE %}
{% block PAGE_CONTENT %}
    
<!-- Titlebar
================================================== -->
<div id="titlebar" class="property-titlebar margin-bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <a href="{% url 'events:index' %}" class="back-to-listings"></a>
                    <div class="property-title">
                        <h2>{{ event.name|title }} <span class="property-badge">{{ event.type|title }}</span></h2>
                        <span>
                            <a href="#location" class="listing-address">
                                <i class="fa fa-map-marker"></i>
                                <b>{{ event.location.name }}</b> - {{ event.location.street_address }}, {{ event.location.city.name }}
                            </a>
                        </span>
                    </div>
    
                    <div class="property-pricing">
                        <div class="property-price">{{ event.start_date|date:'d M'}}</div>
                        <div class="sub-price">{{ event.start_date|date:'H:i'}}</div>
                    </div>
    
    
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row margin-bottom-50">
            <div class="col-md-12">
                <!-- Slider -->
                <div class="property-slider default">
                    {% if event.poster_count > 1 %}
                        {% for poster in event.get_other_posters %}
                            <a href="{{ poster.image.url }}" style="background-position: initial" data-background-image="{{ poster.image.url }}" class="item mfp-gallery"></a>
                        {% endfor %}
                    {% else %}
                        <a href="{{ event.get_poster_url }}" style="background-position: initial" data-background-image="{{ event.get_poster_url }}" class="item mfp-gallery"></a>
                    {% endif %}
                </div>
    
                <!-- Slider Thumbs -->
                <div class="property-slider-nav">
                    {% if event.poster_count > 1 %}
                        {% for poster in event.get_other_posters %}
                            <div class="item"><img src="{{ poster.image.url }}" alt=""></div>
                        {% endfor %}
                    {% else %}
                        <div class="item"><img src="{{ event.get_poster_url }}" alt=""></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container">
        <div class="row">
    
            <!-- Property Description -->
            <div class="col-lg-8 col-md-7">
                <div class="property-description">
    
                    <!-- Main Features
                    <ul class="property-main-features">
                        <li>Area <span>1450 sq ft</span></li>
                        <li>Rooms <span>4</span></li>
                        <li>Bedrooms <span>2</span></li>
                        <li>Bathrooms <span>1</span></li>
                    </ul> -->
    
    
                    <!-- Description -->
                    <h3 class="desc-headline">About {{ event.name|title }}</h3>
                    <div class="show">
                        <p>
                            {{ event.about|title }}
                        </p>
                        <p></p>
                        <!-- <a href="#" class="show-more-button">Show More <i class="fa fa-angle-down"></i></a> -->
                    </div>
    
                    <!-- Details -->
                    <h3 class="desc-headline">Admission</h3>
                    <p>
                        {{ event.admission }}
                    </p>                
    
                  
                    
                    <!-- Location -->
                    <h3 class="desc-headline no-border" id="location">Location</h3>
                    <div id="propertyMap-container">
                        <div id="propertyMap" data-latitude="{{ event.location.latitude }}" data-longitude="{{ event.location.longitude }}"></div>
                        <a href="#" id="streetView">Street View</a>
                    </div>
    
    
                    <!-- Similar Listings Container -->
                    <h3 class="desc-headline no-border margin-bottom-35 margin-top-60">Similar Events</h3>
    
                    <!-- Layout Switcher -->
    
                    <div class="layout-switcher hidden"><a href="#" class="list"><i class="fa fa-th-list"></i></a></div>
                    <div class="listings-container list-layout">
    
                      
                    </div>
                    <!-- Similar Listings Container / End -->
    
                </div>
            </div>
            <!-- Property Description / End -->
    
    
            <!-- Sidebar -->
            <div class="col-lg-4 col-md-5">
                <div class="sidebar sticky right">
    
                    <!-- Widget -->
                    <div class="widget margin-bottom-30">
                        <button class="widget-button with-tip" data-tip-content="Add to Bookmarks"><i class="fa fa-star-o"></i></button>
                         <div class="clearfix"></div>
                    </div>
                    <!-- Widget / End -->
    
    
                    <!-- Widget -->
                    <div class="widget">
    
                        <div class="agent-widget">
                            <div class="agent-title">
                                
                                <div class="agent-details">
                                        <span>Send message</span>
                                        <span>to</span>
                                    <h4><a href="#">{{ event.added_by|title }}</a></h4>
                                    
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% if not user.is_authenticated %}
                                <input type="text" placeholder="Your Email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$">
                                <input type="text" placeholder="Your Phone">
                            {% endif %}
                           
                            <textarea>I'm interested in this event [{{event.name|title}}] and I'd like to know more details.</textarea>
                            <button class="button fullwidth margin-top-5">Send Message</button>
                        </div>
                        <!-- Agent Widget / End -->
    
                    </div>
                    <!-- Widget / End -->
    
    
                    <!-- Widget -->
                    <div class="widget">
                        <h3 class="margin-bottom-35">Featured Events</h3>
    
                        <div class="listing-carousel outer">
                            <!-- Event -->
                            {% if featured %}
                                {% for featured_event in featured %}
                                    <div class="item">
                                        <div class="listing-item compact">
            
                                            <a href="{% url 'events:view-event' featured_event.id featured_event.name|slugify %}" class="listing-img-container">
            
                                                <div class="listing-badges">
                                                    <span class="featured">Featured</span>
                                                    <span>{{ featured_event.type }}</span>
                                                </div>
            
                                                <div class="listing-img-content">
                                                    <span class="listing-compact-title">{{ featured_event.name|title }} <i>{{ featured_event.start_date|date:'d M'}}</i></span>
            
                                                    <ul class="listing-hidden-content">
                                                        <li><i class="fa fa-map-marker"></i> {{ featured_event.location.name }}</span></li>
                                                        <li>{{ featured_event.location.city|upper }}</li>
                                                    </ul>
                                                </div>
            
                                                <img src="{{ featured_event.get_poster_url }}" alt="">
                                            </a>
            
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                           
                            <!-- Event / End -->
                        </div>
    
                    </div>
                    <!-- Widget / End -->
    
                </div>
            </div>
            <!-- Sidebar / End -->
    
        </div>
    </div>
    
{% endblock PAGE_CONTENT %} 